<div class="container" style="max-width: 800px; margin: 50px auto;">
    <h2 class="text-center mb-4">Contact Information</h2>

    <div class="row">

        <div class="col-md-6">
            <div class="card p-4 mb-3">
                <h5>Redlie Lousille Cerezo</h5>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Email:</strong> 20234032&#64;s.ubaguio.edu</li>
                  <li class="list-group-item"><strong>Phone:</strong> +639 91 895 8289</li>
                  <li class="list-group-item"><strong>Address:</strong> Kias, Baguio City</li>
                  <li class="list-group-item"><strong>Instagram: </strong> <a href="#">&#64;roygbiv.crz</a></li>
                  <li class="list-group-item"><strong>Facebook: </strong> <a href="#">Redlie Lousille Cerezo</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card p-4 mb-3">
                <h5>Odin Xavier Alhambra</h5>
                <ul class="list-group">
                  <li class="list-group-item"><strong>Email:</strong> 20124561&#64;s.ubaguio.edu</li>
                  <li class="list-group-item"><strong>Phone:</strong> +639 16 313 8148</li>
                  <li class="list-group-item"><strong>Address:</strong> Engineer's Hill, Baguio City</li>
                  <li class="list-group-item"><strong>Instagram: </strong><a href="#">&#64;dinihihihi</a></li>
                  <li class="list-group-item"><strong>Facebook: </strong> <a href="#">Odini Alhambra</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container" style="max-width: 600px; margin: 50px auto;">
        <h2 class="text-center mb-4">Contact Us</h2>
        <div class="card p-4">
            <form>
              <fieldset>
                <legend>Contact Form</legend>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Name</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Name" autocomplete="off">
                  </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="mb-3">
                  <label for="exampleTextarea" class="form-label">Your Message</label>
                  <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary w-100">Submit</button>
              </fieldset>
            </form>
        </div>
    </div>
</div>