<div class="container mt-4">
    <div class="card text-white bg-primary text-center shadow-lg p-4 welcome-banner">
      <div class="card-body">
        <h1 class="card-title fw-bold">Welcome to Alhambra-Cerezo!</h1>
        <p class="card-text lead">
          Discover more about us and explore our services. We are here to help!
        </p>
        <a routerLink="/about" class="btn btn-light btn-lg text-primary fw-bold">Learn More</a>
      </div>
    </div>
  </div>
  
  <div class="container mt-4 ">
    <div class="row" >
      <div class="col-md-6" >
        <div class="card mb-3 fixed-card card border-primary mb-3">
          <h3 class="card-header">Everyday</h3>
          <h5 class="card-header">David Levithan</h5>
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1356993940i/13262783.jpg" class="card-img-top mx-auto d-block mt-4 mb-4" alt="Card 1 Image">
          <div class="card-body">
            <h5 class="card-title">Synopsis:</h5>
            <p class="card-text">Every day a different body. Every day a different life. Every day in love with the same girl.
                There’s never any warning about where it will be or who it will be. A has made peace with that, even established guidelines by which to live: Never get too attached. Avoid being noticed. Do not interfere.
     </p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-3 fixed-card card border-primary mb-3">
          <h3 class="card-header">When Haru Was Here</h3>
          <h5 class="card-header">Dustin Thao</h5>
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1706200539i/59808196.jpg" class="card-img-top mx-auto d-block mt-4 mb-4" alt="Card 2 Image">
          <div class="card-body">
            <h5 class="card-title">Synopsis:</h5>
            <p class="card-text">After the death of his best friend, Eric Ly creates imaginary scenarios in his head to deal with his grief. Until one of them becomes real when a boy 
                he met last summer in Japan finds his way back into his life. When he least expects it, Haru Tanaka walks into the coffee shop and sits down next to him. The only thing 
                is, nobody else can see him.In a magical turn of events, Eric suddenly has someone to connect with, making him feel less alone in the world. But as they spend more and 
                more time together, he begins to question what is real. When he starts losing control of the very thing that is holding him together, Eric must finally confront his 
                reality. Even if it means losing Haru forever.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 fixed-card card border-primary mb-3">
          <h3 class="card-header">The Perks of Being a Wallflower</h3>
          <h5 class="card-header">Stephen Chbosky</h5>
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1650033115i/22628.jpg" class="card-img-top mx-auto d-block mt-4 mb-4" alt="Card 3 Image">
          <div class="card-body">
            <h5 class="card-title">Synopsis:</h5>
            <p class="card-text">This is the story of what it's like to grow up in high school. More intimate than a diary, Charlie's letters are singular and unique, hilarious and devastating. We may not know where he lives. 
                We may not know to whom he is writing. All we know is the world he shares. Caught between trying to live his life and trying to run from it puts him on a strange course through uncharted territory. 
                The world of first dates and mixed tapes, family dramas and new friends. The world of sex, drugs, and The Rocky Horror Picture Show, when all one requires is that the perfect song on that perfect drive to feel infinite.
                </p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-3 fixed-card card border-primary mb-3">
          <h3 class="card-header">Simon vs the Homo Sapiens Agenda</h3>
          <h5 class="card-header">Becky Albertalli</h5>
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1402915678i/19547856.jpg" class="card-img-top mx-auto d-block mt-4 mb-4" alt="Card 4 Image">
          <div class="card-body">
            <h5 class="card-title">Synopsis:</h5>
            <p class="card-text">Sixteen-year-old and not-so-openly gay Simon Spier prefers to save his drama for the school musical. But when an email falls into the wrong hands, his secret is at risk of being thrust into the spotlight. Now Simon is 
                actually being blackmailed: if he doesn’t play wingman for class clown Martin, his sexual identity will become everyone’s business. Worse, the privacy of Blue, the pen name of the boy he’s been emailing, will be compromised.
                With some messy dynamics emerging in his once tight-knit group of friends, and his email correspondence with Blue growing more flirtatious every day, Simon’s junior year has suddenly gotten all kinds of complicated. Now, 
                change-averse Simon has to find a way to step out of his comfort zone before he’s pushed out—without alienating his friends, compromising himself, or fumbling a shot at happiness with the most confusing, adorable guy he’s never met.
                </p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3 fixed-card card border-primary mb-3">
          <h3 class="card-header">Me and Earl the Dying Girl</h3>
          <h5 class="card-header">Jesse Andrews</h5>
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1429097340i/25110515.jpg" class="card-img-top mx-auto d-block mt-4 mb-4" alt="Card 5 Image">
          <div class="card-body">
            <h5 class="card-title">Synopsis:</h5>
            <p class="card-text">Greg Gaines is the last master of high school espionage, able to disappear at will into any social environment. He has only one friend, Earl, and together they spend their time making movies, their own incomprehensible versions of Coppola and Herzog cult classics.
                Until Greg's mother forces him to rekindle his childhood friendship with Rachel.Rachel has been diagnosed with leukemia—cue extreme adolescent awkwardness—but a parental mandate has been issued and must be obeyed. When Rachel stops treatment, Greg 
and Earl decide the thing to do is to make a film for her, which turns into the Worst Film Ever Made and becomes a turning point in each of their lives.
                And all at once Greg must abandon invisibility and stand in the spotlight.
</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-6">
        <div class="card mb-3 fixed-card card border-primary mb-3">
          <h3 class="card-header">Call Me By Your Name</h3>
          <h5 class="card-header">Andre Aciman</h5>
          <img src="https://images-na.ssl-images-amazon.com/images/S/compressed.photo.goodreads.com/books/1622331237i/6484905.jpg" class="card-img-top mx-auto d-block mt-4 mb-4" alt="Card 6 Image">
          <div class="card-body">
            <h5 class="card-title">Synopsis:</h5>
            <p class="card-text">Call Me by Your Name is the story of a sudden and powerful romance that blossoms between an adolescent boy and a summer guest at his parents' cliffside mansion on the Italian Riviera. Each is unprepared for the consequences of their attraction, when, during the restless 
                summer weeks, unrelenting currents of obsession, fascination, and desire intensify their passion and test the charged ground between them. Recklessly, the two verge toward the one thing both fear they may never truly find total intimacy. It is an instant classic and one 
                of the great love stories of our time.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  